body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #dfdfdf;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  color: rgb(12, 12, 12);
  margin-bottom: 10px;
}

.header h2 {
  font-size: 18px;
  margin: 0;
}

.header p {
  font-size: 12px;
  margin: 2px 0 0;
  color: #4c4c4c;
}


.calculator {
  background: #1d6fd9;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.equal {
  grid-row: span 2;
  background: orange;
}

.zero {
  grid-column: span 2;
}
