body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c2c1c1;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 15px;
    }

    #display {
        width: 230px;
        height: 50px;
        font-size: 24px;
        text-align: right;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .button {
        width: 50px;
        height: 50px;
        font-size: 18px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        background-color: #e0e0e0;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .button:hover {
        background-color: #d4d4d4;
    }  
    .button.operator {
        background-color: #ff9500;
        color: white;
    }
    .button.operator:hover {
        background-color: #e08900;
    }
    .button.equal {
        background-color: #34c759;
        color: white;
    }
    .button.equal:hover {
        background-color: #28a745;
    }
    .button.clear {
        background-color: #ff3b30;
        color: white;
    }
    .button.clear:hover {
        background-color: #e02a20;
    }